
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AccessDenied</title>
</head>
<style>
    body{
        background-color:antiquewhite;
    }
    h1{
        text-align:center;
        color:red;
    }


</style>
<body>

    <h1>Ooops...You do not have access to the admin panel!</h1>

    

</body>
</html>
