@using PetShopFinal.DAL.Models;
@model FooterTop

<footer>
    <div class="container">
        <div class="content_footer">
            <div class="row">
                <div class="col-lg-3">
                    <div class="box_footer">
                        <div class="head_footer">
                            <h5>OUR GALLERY</h5>
                        </div>
                        <div class="imgs_footer">
                            <div class="row g-2">
                                <div class="col-lg-4">
                                    <img src="~/assets/photos/grid-gallery-1-178x178.jpg"
                                         alt="" />
                                </div>
                                <div class="col-lg-4">
                                    <img src="~/assets/photos/grid-gallery-2-178x178.jpg"
                                         alt="" />
                                </div>
                                <div class="col-lg-4">
                                    <img src="~/assets/photos/grid-gallery-3-178x178.jpg"
                                         alt="" />
                                </div>
                                <div class="col-lg-4">
                                    <img src="~/assets/photos/grid-gallery-4-178x178.jpg"
                                         alt="" />
                                </div>
                                <div class="col-lg-4">
                                    <img src="~/assets/photos/grid-gallery-5-178x178.jpg"
                                         alt="" />
                                </div>
                                <div class="col-lg-4">
                                    <img src="~/assets/photos/grid-gallery-6-178x178.jpg"
                                         alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 xss_links links_sm">
                    <div class="box_footer">
                        <div class="head_footer first_h5">
                            <h5>QUICK LINKS</h5>
                        </div>
                        <div class="links_footer">
                            <a href="">About Us</a>
                            <a href="">Our Services</a>
                            <a href="">Shop</a>
                            <a href="">Testimonials</a>
                            <a href="">FAQ</a>
                            <a href="">Contact Us</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 xs_links links_sm">
                    <div class="box_footer">
                        <div class="head_footer sec_h5">
                            <h5 class="">QUICK LINKS</h5>
                        </div>
                        <div class="links_footer sec_link">
                            <a href="">Accessories</a>
                            <a href="">Care</a>
                            <a href="">Clothing</a>
                            <a href="">Decor</a>
                            <a href="">Food</a>
                            <a href="">Grooming Supplies</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 xss_links">
                    <div class="box_footer">
                        <div class="head_footer">
                            <h5 class="">GET IN TOUCH</h5>
                        </div>
                        <div class="links_footer">
                            <div class="locate_footer icons_footer">
                                <i class="fa-solid fa-location-dot"></i>
                                <a href="">@Model.Location</a>
                            </div>
                            <div class="phone_footer icons_footer">
                                <i class="fa-solid fa-phone"></i>
                                <a href="tel:(+844) 123 456 78">@Model.Phone</a>
                            </div>
                            <div class="env_footer icons_footer">
                                <i class="fa-solid fa-envelope"></i>
                                <a href="">@Model.Email</a>
                            </div>

                            <div class="social">
                                <div class="row sm_social">
                                    <div class="col-lg-2-5">
                                        <i class="fa-brands fa-facebook-f"></i>
                                    </div>
                                    <div class="col-lg-2-5">
                                        <i class="fa-brands fa-twitter"></i>
                                    </div>
                                    <div class="col-lg-2-5">
                                        <i class="fa-brands fa-instagram"></i>
                                    </div>
                                    <div class="col-lg-2-5">
                                        <i class="fa-brands fa-google-plus-g"></i>
                                    </div>
                                    <div class="col-lg-2-5">
                                        <i class="fa-brands fa-skype"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>