@using PetShopFinal.ViewModels;
@{
    ViewData["Title"] = "Tabs & Accordions";
}
<main>

    <section class="bg_bone">
        <section class="search d-none">
            <div class="content_search">
                <div class="search_cont">
                    <input placeholder="Search..." type="search" name="" id="" />
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
        </section>
        <div class="all_bg_bone">
            <div class="content_testimonials text-center">
                <h2>Tabs & Accordions</h2>
            </div>
        </div>
    </section>

    <section class="pages_full">
        <a href="index.html">HOME</a>
        <i class="fa-solid fa-arrow-right"></i>
        <a href="contact.html">ELEMENTS</a>
        <i class="fa-solid fa-arrow-right"></i>
        <a class="main_page" href="tabs.html">TABS & ACCORDIONS</a>
    </section>

    <section class="acd_and_horizon">
        <div class="container">
            <div class="content_acd_and_horizon">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="heading_horizon text-center">
                            <h3>Accordions</h3>
                        </div>
                        <div class="accordion_part">
                            <div id="1" class="box_tab_offer_all">
                                <div class="box_tab_offer d-flex">
                                    <div class="accordian">
                                        <div class="accordian_head">
                                            <div class="arrow text-center">
                                                <i class="fa-solid fa-angle-right"></i>
                                            </div>
                                            <div class="text_tab">
                                                <p>How can I change something in my order?</p>
                                            </div>
                                        </div>
                                        <div class="accordian_body">
                                            <p class="accordian_description">
                                                If you need to change something in your order, please
                                                contact us immediately. We usually process orders
                                                within 30 minutes, and once we have processed your
                                                order, we will be unable to make any changes.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion_part">
                            <div id="1" class="box_tab_offer_all">
                                <div class="box_tab_offer d-flex">
                                    <div class="accordian">
                                        <div class="accordian_head">
                                            <div class="arrow text-center">
                                                <i class="fa-solid fa-angle-right"></i>
                                            </div>
                                            <div class="text_tab">
                                                <p>How can I pay for my order?</p>
                                            </div>
                                        </div>
                                        <div class="accordian_body">
                                            <p class="accordian_description">
                                                We accept Visa, MasterCard, and American Express
                                                credit and debit cards for your convenience.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion_part">
                            <div id="1" class="box_tab_offer_all">
                                <div class="box_tab_offer d-flex">
                                    <div class="accordian">
                                        <div class="accordian_head">
                                            <div class="arrow text-center">
                                                <i class="fa-solid fa-angle-right"></i>
                                            </div>
                                            <div class="text_tab">
                                                <p>How long will my order take to be delivered?</p>
                                            </div>
                                        </div>
                                        <div class="accordian_body">
                                            <p class="accordian_description">
                                                Delivery times will depend on your location. Once
                                                payment is confirmed your order will be packaged.
                                                Delivery can be expected within a day.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box_goals">
                            <div class="heading_horizon text-center">
                                <h3>Horizontal Tabs</h3>
                            </div>
                            <div class="head_text_goals d-flex justify-content-between">
                                <div data-id="1" class="text_goals tab">
                                    <h6>ABOUT</h6>
                                </div>
                                <div data-id="2" class="text_goals">
                                    <h6>OUR MISSION</h6>
                                </div>
                                <div data-id="3" class="text_goals">
                                    <h6>OUR GOALS</h6>
                                </div>
                            </div>
                            <div class="bottom_text_goals">
                                <div id="1" class="bottom_goals">
                                    <p>
                                        Eget sit amet tellus cras adipiscing enim. Tempus
                                        imperdiet nulla malesuada pellentesque elit. Eros in
                                        cursus turpis massa tincidunt. Lacus suspendisse faucibus
                                        interdum posuere lorem. Elit duis tristique sollicitudin
                                        nibh. Dui ut ornare lectus sit amet. Phasellus egestas
                                        tellus rutrum tellus elementum.
                                    </p>
                                </div>
                                <div id="2" class="bottom_goals d-none">
                                    <p>
                                        Vae. Dexter fiscina aliquando vitares animalis est.
                                        Nunquam convertam bulla. Cum pars prarere, omnes seculaes.
                                        A cras semper auctor neque vitae tempus quam pellentesque.
                                        Navis dexter historia est. Luba, homo, et indictio.
                                        Emeritis eposs ducunt ad animalis. Cum solem assimilant,
                                        omnes byssuses vitare clemens, secundus nixuses.
                                    </p>
                                </div>
                                <div id="3" class="bottom_goals d-none">
                                    <p>
                                        Eu augue ut lectus arcu bibendum at varius. Auctor augue
                                        mauris augue neque gravida in fermentum et sollicitudin.
                                        Orci eu lobortis elementum nibh tellus molestie nunc non.
                                        Mi proin sed libero enim sed faucibus turpis in eu. Sit
                                        amet purus gravida quis blandit turpis cursus in. Viverra
                                        aliquet eget sit amet tellus.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

