@using PetShopFinal.ViewModels;
@{
    ViewData["Title"] = "Pricing List";
}

<main>
    <section class="bg_bone">
        <section class="search d-none">
            <div class="content_search">
                <div class="search_cont">
                    <input placeholder="Search..." type="search" name="" id="" />
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
        </section>
        <div class="all_bg_bone">
            <div class="content_testimonials text-center">
                <h2>Pricing List</h2>
            </div>
        </div>
    </section>

    <section class="pages_full">
        <a href="index.html">HOME</a>
        <i class="fa-solid fa-arrow-right"></i>
        <a href="">PAGES</a>
        <i class="fa-solid fa-arrow-right"></i>
        <a class="main_page" href="testimonials.html">PRICING LIST</a>
    </section>

    <section class="plan">
        <div class="container">
            <div class="content_plan">
                <div class="head_plan text-center">
                    <h3>AFFORDABLE PRICING PLANS</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod. Lorem ipsum dolor Tur adipiscing elit, sed do.
                        semantic;users, seamless beta-test
                    </p>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="box_plan_cards text-center">
                            <div class="top_card">
                                <h3>Basic</h3>
                                <p>from $400.00</p>
                            </div>
                            <div class="bottom_card">
                                <ul style="list-style: none">
                                    <li><p>Pet Food</p></li>
                                    <li><p>Basic Grooming</p></li>
                                    <li><p>Toys for pets</p></li>
                                    <li><p>Veterinary care</p></li>
                                </ul>
                                <div class="button_add">
                                    <a href="">ADD TO CARD</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="box_plan_cards sale text-center">
                            <div class="top_card">
                                <span class="sp_sale">SALE</span>
                                <h3>Standart</h3>
                                <p><span class="dollar">$1.000.00</span> $600.00</p>
                            </div>
                            <div class="bottom_card">
                                <ul style="list-style: none">
                                    <li><p>Dog daycare</p></li>
                                    <li><p>Group training</p></li>
                                    <li><p>Adoption</p></li>
                                    <li><p>Dog clothing</p></li>
                                </ul>
                                <div class="button_add">
                                    <a class="standart_btn" href="">ADD TO CARD</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="box_plan_cards text-center">
                            <div class="top_card">
                                <h3>Premium</h3>
                                <p>from $800.00</p>
                            </div>
                            <div class="bottom_card">
                                <ul style="list-style: none">
                                    <li><p>Hotel for pets</p></li>
                                    <li><p>Pet insurance</p></li>
                                    <li><p>In-home training</p></li>
                                    <li><p>Premium Grooming</p></li>
                                </ul>
                                <div class="button_add">
                                    <a href="">ADD TO CARD</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
